
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
/* .banner-section style start here */
.banner-section{
    max-width: 1320px ;
    height: 600px;
    background-image: url(./image/images/Banner\ Image.png), linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.banner-section h3{
    max-width: 259px;
    height: 40px;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.banner-section h1{
    max-width: 632px;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}
/* .banner-section style end here */


/*  all catagoris section start here */

.categoris-section{
    max-width: 1320px;
    height: 806px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.categoris-section h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    padding-top: 140px ;
    padding-bottom: 30px;
    
}
.categoris-section p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;

    
}

.categoris-section h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;

}
.categoris-section .img-section{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 120px;
    /* display:flex; */
    align-items:center ;
}
.categoris-section .img-section img{
    max-width: 802px;
    height: 500px;
}
/* all catagoris section end here */

/* welcome section style start here */
.welcome-section{
    max-width: 1320px;
    height: 600px;
    background-image: url(./image/images/Vectorrr.png), linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-blend-mode: overlay;
    margin-top:120px;
    display: flex;

}

.welcome{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   

}

.welcome h4{
   max-width: 642px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 126px;
    line-height: 70px;
    margin-bottom: 24px;
}

.welcome p{
    max-width: 697px;
    height: 60px;
    margin-left: 126px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;

}

.welcome .btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 158px;
    margin-top: 48px;
    text-transform: uppercase;
    
}
.img-section1{
    max-width: 550.16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

.img-section1 img{
   height: 465.65px; 
   max-width: 349.16;
}

/* welcome section style end here */


/* new park section style start here */

 .prak-section{
        max-width: 1320px;
        height: 482px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    }

    .prak-section p{
        font-size: 2rem;
        font-weight: 600;
        line-height: 56px;
        font-family: Inter;
    }

.prak-section p span{
    max-width: 549px;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    font-family: Inter;
    color: rgb(255, 0, 0);
}

.prak-section .btn1{
    max-width: 167px;
    height: 56px;
    text-align: center;
    margin-top: 50px;
}

.prak-section .btn1 button{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    background: rgb(255, 0, 0);
    border-radius: 8px;
    border-style: none;
    padding: 16px 32px 16px 32px;
}
/* new park section style end here */

/*coming soon area responsive */

.hero-section{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
}

.hero-section .left-side{
    max-width: 328px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-section .left-side h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: red;
    
}
.hero-section .left-side h2{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(7, 2, 17);
}

.hero-section .left-side p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;

}

 .hero-section .middle-section{
    max-width: 450.84px;
    margin: 0 auto;
    padding: 20px;
    border: 20px solid red;
    border-radius: 50%;
}

 .img{
    max-width: 364.84px;
    height: 364.84px ;
   
}
.hero-section .right-side{
    max-width: 276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section .right-side h2{
    width: 126px;
    font-size: 3rem;
    font-weight: 700;
    font-family: Inter;
    color: rgb(255, 0, 0);
}

.hero-section .right-side p{
    font-size: 1.25rem;
    color: rgba(7, 2, 17, 0.6);
}

.hero-section .right-side img{
    width: 140px;
    height: 132px;
    margin-top: 43px;
}
/* hero section style end here */

/* holiday section style start here */
.holiday-section{
    max-width: 1068px;
    margin: 0 auto;
    
    text-align: center;
    margin-top: 120px;
}
.holiday-header{
    color: rgb(7, 2, 17);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;
}
.holiday-section h2{
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 91px;
    color: red;
    text-align: center;
    
}
.holiday-title .sale {
    color: black; 
}
.holiday-desc{
    color: rgba(7, 2, 17, 0.6);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
/* holiday section style end here */